@keyframes backgroundAnimation {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 200%; 
    }
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('assets/fixbg.png');
    background-size: auto 200%;
    background-repeat: repeat-y;
    animation: backgroundAnimation 10s linear infinite;
}

#start-screen {
    text-align: center;
    color: white;
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    top: 50px;
    width: 100%;
}
#start-screen h1 {
    font-size: 2.0rem;
    margin: 0.5rem;
}

.grid {
	width: 1152px;
	height: 1152px;
	border: solid black 1px;
	display: flex;
	flex-wrap: wrap;
}

.grid div {
	width: 128px;
	height: 128px;
}

.turtle {
	background-image: url('assets/turtle2.png');
    height: auto;
    width: auto;
}

.jellyfish {
	background-image: url('assets/jellyfish2.png');
    height: auto;
    width: auto;
}

.fish {
    background-image: url('assets/clownfish2.png');
    height: auto;
    width: auto;
}

.laser {
	background-image: url('assets/pixilart-drawing.png');
    height: auto;
    width: auto;
}

.boom {
	background-image: url('assets/turtledie.png');
}

.results {
    position: absolute;   
    top: 100px;            
    left: 50%;            
    transform: translateX(-50%); 
    color: white;         
    font-family: 'Arial', sans-serif; 
    font-size: 2rem;      
    margin: 0;            
}
